<!DOCTYPE html>
<html>
  <head>
    <title>Acrylic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  </head>

  <body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">ACRylic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
<% if user_signed_in? %>
  <li class="nav-item">
    <%= form_tag(report_list_path, method: :get) %>
     <input  class= "nav-link" style="color:gray" type="text" placeholder="search" name="search">   
     </form>
  </li>
  <li class="nav-item">
  <%= link_to('Start', report_list_path, class: "nav-link") %>        
  </li>
  <li class="nav-item">
  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>        
  </li>
<% else %>
  <li class="nav-item">
  <%= link_to('Login', new_user_session_path, class: "nav-link") %>  
  </li>
<% end %>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">

      <% if !notice.to_s.empty? %>
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div>
      <% end %>
      
      <% if !alert.to_s.empty? %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
      <% end %>

    <%= yield %>


    </div>
  </div>
</div>

  </body>
</html>
